

$dark_orange: #e27d60;
$light_orange: #e8a87c;
$dark_green: #41b3a3;
$light_green: #85dcbb;
$pink: #c38d9e;

$color-background: $dark_green;
$color-border: $dark_orange;
$color-menu-bar-item-text: black;
$color-menu-bar-item-hover: $light_orange;
$color-menu-bar-item: $light_green;
$color-horizontal-bar: $dark_green;
$color-body: aliceblue;

