@import "../base/all";

.about-feed {
    // max-height: 600px;
    @extend %feed;
    overflow: auto;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    // p {
    //     padding: 2vh;
    //     justify-content: space-between;
    //     align-items: center;

    // }
    p {
        text-align: center;
        vertical-align: middle;
            


    }
    div {
        margin: 1vh;
        padding: 1vh;
        border: 1px solid black;
        

    }
    
}

.about-our-data {
    overflow: scroll;
}