@import "../base/base";

.root {
    
    display: flex;
    height: 85%;
    min-height: 500px;
    margin: 3% 3% 3%;
    flex-grow: 1;
    border: 2px solid $color-border;
    border-radius: .5rem;
    background: $color-background;
    padding: 1%;
    

}


#view {
    height: 84%;
}
