@import "../base/base";

// body {
//   font-family: sans-serif;
// }

// input {
//   border: 1px solid #999;
//   padding: 0.5rem;
//   width: 50px;
// }

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid $dark-green;
//   border-top-width: 0;
  list-style: none;
  margin-top: 0;
  max-height: 200px;
  overflow-y: scroll;
  padding-left: 0;
  width: calc(300px + 1rem);
  position: absolute;
  z-index: 2;
  margin-top: 2.8%;
  opacity: 100%;
  background-color: $color-body;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: $light-green;
  color: $pink;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid $dark-green;
}
