@import "../base/base";


.comment {
    
        background-color: inherit;
        display: flex;
        flex-direction: row;
        align-items: center;
        border: 1px solid $color-border;
        border-radius: $radius;
        min-height: 8vh;
        margin: 0% 0% 1% 0%;
        padding: 0%;
    
    .left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .like-button {
        width: 0%;
        height: 0%;
        display: flex;
        justify-content: center;
        border: 1px solid black;
        border-radius: $radius;
        
    }

    .comment-h4 {
        font-size: 8px;
        margin: 0%;
    }
    .middle {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .email {
        margin: 0%;
        padding: 0%;
        font-size: 1rem;
    }
    .comment-text {
        margin: 0%;
        padding: 0%;
        font-size: 1.2rem;
    }
    .icon {
        min-height: 10px;
        max-height: 10px;
    }

}
.comment-box {
    min-height: 0%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-top: 1px solid $color-border;
    width: 100%;
    overflow: scroll;
    form {
        margin: 1%;
        padding: 0%;
        display: flex;
        justify-content: space-between;
        .form-item {
            padding: 0%;
            margin: 0%;
            display: flex;
            flex-grow: 1;

        }
        .form-submit {
            align-self: flex-end;
            display: flex;
            flex-shrink: 0;


        }
    }

}

.comment-list {
    overflow: scroll;
    margin: 1%;
}

.comment-form {
    display: flex;
    flex-direction: row;
    height: 20%;
}


.form-item-comment {
    width: 100%;
    padding: 1%;
    border: 1px solid $color-border;
    border-radius: $radius;
    background: inherit;
    color: $white;
    

}
.form-item-comment::placeholder {
        color: $gray;
    }

.form-submit-comment {
    width: 20%;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 1%;
    background: inherit;
    color: $white;
    border: 1px solid $color-border;
    border-radius: $radius;
    text-align: center;
    padding-top: .55%;

}
.form-submit-comment:hover {
        background: $color-hover;
    }