@import "../base/base";

.docket-feed {
    
    display: flex;
    justify-content: space-between;
    margin-top: 0%;
    @extend %feed;
   
}

.docket-feed-list {
    display: flex;
    flex-direction: column;
    width: 50%;
    overflow: auto;
    border: 2px solid $color-border;
    border-radius: $radius;
    ::-webkit-scrollbar {
        display: none;
        width: 0px;
        background: transparent;
    }
    scrollbar-width: 0;

}



.big-docket-feed {
    width: calc($feed-width + $subfeed-width);
    width: 906px;
    height: $feed-height;
    padding: 0%;
    margin: 0%;
    border: 0px;
}