@import "../base/base";

.header-bar {
    background-color: $color-horizontal-bar;
    height: 10%;
    border-bottom: 1px solid $color-border-header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    a {
        font-size: 2.3rem;
        font-family: inherit;
        font-style: italic;
        margin-left: 3%;
        text-align: left;
        text-align: justify;      
        &:visited {
            color: $red;
        }
        color: $red;
        text-decoration: none;
        display: block;
        

    }
}

.login-header {
    margin-right: -41%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 35%;
}

.header-logout-button {
    background-color: inherit;
    border: 1px  solid $color-border;
    border-radius: $radius;
    cursor: pointer;
    color: $white;
    height: 60%;
    width: 10%;
    text-align: center;
    margin-right: 3%;

}
.header-logout-button:hover {
    background: $color-hover;
}

.header-form-item{
    padding: 1%;
    height: 30%;
    width: 16rem;
    border: 1px solid $color-border;
    border-radius: $radius;
    background: inherit;
    color: $white;
}

.header-form-submit {
    width: 27%;
    height: 60%;
    color: #fff;
    background-color: inherit;
    transition: 0.3s opacity ease;
    cursor: pointer;
    border: 1px solid $color-border;
    border-radius: $radius;
}

.header-form-submit:hover{
   background: $color-hover;
}

.header-link {
    font-size: 1rem;
    color: $color-border;
    
}
.header-register-button {
    width: 9%;
    height: 60%;
    color: #fff;
    background-color: inherit;
    transition: 0.3s opacity ease;
    cursor: pointer;
    border: 1px solid $color-border;
    border-radius: $radius;
    margin-right: 3%;
}
.header-register-button:hover {
    background: $red;
   
}