@import "../base/all";

.main-feed {
    @extend %box-container;
    // padding: 2%;
    // width: `calc(100% - ${menuBarWidth}px)`;
    
    // marginLeft: menuBarWidth,
    width: calc(100% - #{$menu-bar-width});
    margin-left: $menu-bar-width;
    width: 100%;
    // height: calc(#{$main-feed-first-row-box-height} + #{$main-feed-second-row-box-height});
    height: 670px;
    display: flex;
    // flex-direction: column;
    // margin: 0%;
    &table {
        margin: 0%;
    }
    &span {
        width: 100%;
    }
    &section {
        width: 100%;
    }

}
// #docket-box {
//     height: 400px;
//     overflow: scroll;
//     // background-color: red;
//     h5 {
//         font-size: 5px;
//     }
// }

            // <div className="row main-feed">
            //     <div className="twelve columns">
            //         <div className="row">

#main-feed-first-row {
    display: flex;
    // justify-content: space-around;

}
#main-feed-first-row-box {
    padding: 0%;
}
.row .main-feed .eight .columns .row .eight .columns .docket-box {
        h2 {
            font-size: 20px;
            border: 2px solid $color-border;


        }

    }


