@import "../base/base";

.main-feed {
    @extend %box-container;
    @extend %feed;
    display: flex;
    flex-direction: column;
    &table {
        margin: 0%;
    }
    &span {
        width: 100%;
    }
    &section {
        width: 100%;
    }
    .main-feed-row-top {
        height: 45%;
        display: flex;
        justify-content: space-between;
    }
    .main-feed-row-bottom {
        height: 55%;
        display: flex;
        justify-content: space-between;
    }

}

#main-feed-first-row {
    display: flex;
    height: 100%;
   
}
.row {
    height: $main-feed-first-row-box-height;
}
#main-feed-first-row-box {
    padding: 0%;
}
.main-feed .eight .columns .row .eight .columns .docket-box {
        h2 {
            font-size: 20px;
        }

    }
.main-feed {
    overflow: scroll;
}


