@import "../base/base";

.menu-bar-item {
    border: 2px solid $color-border;
    border-collapse: collapse;
    padding: 4%;
    text-align: center;
    height: 5%;
    background-color: $color-menu-bar-item;
    width: 80%;
    &:hover {
        background-color: $color-menu-bar-item-hover;
    }

    a {
        &:visited {
            color: $color-menu-bar-item-text;
        }
        color: $color-menu-bar-item-text;
        text-decoration: none;
        display: block;
        
        font-family: $font-menu-bar-item;
        &:hover {
            color: $color-menu-bar-item-text;
            text-decoration: none;
            text-decoration-color: $color-menu-bar-item-text;
        }
        
    }
  
}
