.menu-bar-item {
    border: 2px solid $color-border;
    border-collapse: collapse;
    padding: 4%;
    // position: relative;
    // margin-top: 10%;
    // margin-block-start: 10%;
    text-align: center;
    // margin: 0%;
    // margin-bottom: 0%;
    height: 5%;
    background-color: $color-menu-bar-item;
    width: 80%;
    &:hover {
        background-color: $color-menu-bar-item-hover;
    }

    a {
        &:visited {
            color: $color-menu-bar-item-text;
        }
        color: $color-menu-bar-item-text;
        text-decoration: none;
        display: block;
        
        font-family: $font-menu-bar-item;
        &:hover {
            color: $color-menu-bar-item-text;
            text-decoration: none;
            text-decoration-color: $color-menu-bar-item-text;
        }
        
    }
  
}
