@import "../base/all";


.menu-bar {
    @extend %box-container;
    // padding: 5%;
    // width: 30%;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    width: $menu-bar-width;
    // flex-shrink: 0;
    // height: calc(#{$main-feed-first-row-box-height} + #{$main-feed-second-row-box-height});
    height: 80%;
    padding: 0%;
    margin: 0%;
    // min-height: 100%;

    display: flex;
    flex-direction: column;  
    align-items: flex-start;

    
}
