@import "../base/all";

.news-box {
    overflow: scroll;
    margin-top: 0%;
    border: 2px solid $color-border;
    border-collapse: collapse;
    @extend %main-feed-first-row-box;

    // th {
    //     position: absolute;
    //     margin-top: -2%;
    //     visibility: hidden;
    //     border-collapse: collapse;

    // }
    // h2 {
    //     font-size: 20px;
    //     border: 2px solid $color-border;


    // }
}