@import "../base/base";

.news-box {
    
    @extend %main-feed-first-row-box;
    display: flex;
    flex-direction: column;
    a {
        text-decoration: none;

    }
    .headline-item {
        color: $white;
        font-size: 1rem;
        margin: 2%;
    }

}

