@import "../base/base";

.polls-box {
    // overflow: scroll;
    @extend %main-feed-second-row-box;
    overflow-x: auto;
    // overflow-y: hidden;
    white-space: nowrap;
    



    h5 {
        margin: 0%;
        padding: 0%;
    }

    #poll-individual {
        // display: inline-block;
        width: 40%;
        border: 2px solid $color-border;
        border-radius: 4px;
        margin: 1%;
       
    }



}