@import "../base/all";

.polls-row {
    overflow: scroll;

    display: flex;
    align-items: center;
    height: 86%;
    
    // flex-direction: row;
    // overflow-x: scroll;
    // overflow-y: scroll;
    // white-space: nowrap;
    
    
}
.polls-row-box {
    display: block;
    align-items: flex-start;
    height: 100%;
    // margin: 1%;
    //couldn't do h6 below, it was affecting the style of PollList components
    h1, h2, h3, h4, h5 {
        font-size: 1vw;
        margin-left: 1%;
        margin-bottom: 0%;
        margin-top: .5%;
        padding: 0%;
        height: 8%;
    }
}
.poll-individual {
        width: 28%;
        height: 94%;
        outline: 1px solid $color-border;
        outline-offset: -1vh;
        margin-left: 1%;
        flex-shrink: 0;
        display: flex;

}
::-webkit-scrollbar {
        display: none;
    }