<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <!-- <link rel="stylesheet" href='{% static "../dist/stylesheets/main.css" %}'> -->
    <link rel="stylesheet" href='{% static "frontend/main.css" %}'>
    <link rel="stylesheet" href='{% static "frontend/index.css" %}'>
    <link rel="stylesheet" href='{% static "frontend/skeleton/skeleton.css" %}'>
    <link rel="stylesheet" href='{% static "frontend/skeleton/normalize.css" %}'>
    <!-- <link rel="stylesheet" href='/Users/stevie/Desktop/reactPractice/project/frontend/dist/stylesheets/main.css'> -->




    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"> -->
    <title>By The People</title>
</head>

<body>
    <section class="section">
        <div class="container">
            <div class="row">By The People</div>
            <!-- getDocumentById('app') gets this and inserts components into the below div -->
            <div class="row view">
                <div id="menu-bar" class="four columns"></div>
                <div id="main-feed" class="eight columns"></div>
            </div>

        </div>
    </section>
</body>
{% load static %}
<script src='{% static "frontend/main.js" %}'></script>


</html>