@import url("https://fonts.googleapis.com/css?family=Raleway");
.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  justify-content: space-evenly;
}

.card > form {
  display: flex;
  flex-direction: column;
  height: 74%;
  justify-content: space-evenly;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1%;
}

.form-item {
  font-family: "Raleway", sans-serif;
  padding: 1%;
  margin-bottom: 2rem;
  height: 10%;
  width: 16rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.form-submit {
  font-family: "Raleway", sans-serif;
  height: 20%;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
}

.form-submit:hover {
  opacity: 0.6;
}

button:focus {
  outline: none;
}

.logout-button {
  background-color: inherit;
  border: 1px solid black;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  height: 6%;
  width: 30%;
}

.menu-bar, .main-feed {
  background-color: #41b3a3;
  align-items: center;
  list-style: none;
  margin: 0%;
}

.representatives, .about-feed, .polls-feed, .docket-feed, .news-feed, .main-feed {
  width: 80%;
  height: 100%;
  outline: 1px solid black;
  outline-offset: -1px;
}

.profile-box, .docket-box, .news-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  width: 30%;
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
  box-sizing: border-box;
  flex-grow: 1;
}
.profile-box h5, .docket-box h5, .news-box h5 {
  font-size: 3vh;
  margin: 0% 1% 0%;
}

.polls-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
}
.polls-box h5 {
  margin-top: 0%;
}

html {
  height: 100%;
}

.box-header {
  position: absolute;
  z-index: 2;
  background: #41b3a3;
  width: 25%;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  justify-content: space-evenly;
}

.card > form {
  display: flex;
  flex-direction: column;
  height: 74%;
  justify-content: space-evenly;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1%;
}

.form-item {
  font-family: "Raleway", sans-serif;
  padding: 1%;
  margin-bottom: 2rem;
  height: 10%;
  width: 16rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.form-submit {
  font-family: "Raleway", sans-serif;
  height: 20%;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
}

.form-submit:hover {
  opacity: 0.6;
}

button:focus {
  outline: none;
}

.logout-button {
  background-color: inherit;
  border: 1px solid black;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  height: 6%;
  width: 30%;
}

.menu-bar, .main-feed {
  background-color: #41b3a3;
  align-items: center;
  list-style: none;
  margin: 0%;
}

.representatives, .about-feed, .polls-feed, .docket-feed, .news-feed, .main-feed {
  width: 80%;
  height: 100%;
  outline: 1px solid black;
  outline-offset: -1px;
}

.profile-box, .docket-box, .news-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  width: 30%;
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
  box-sizing: border-box;
  flex-grow: 1;
}
.profile-box h5, .docket-box h5, .news-box h5 {
  font-size: 3vh;
  margin: 0% 1% 0%;
}

.polls-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
}
.polls-box h5 {
  margin-top: 0%;
}

html {
  height: 100%;
}

.box-header {
  position: absolute;
  z-index: 2;
  background: #41b3a3;
  width: 25%;
}

.root {
  display: flex;
  height: 620px;
  margin: 3%;
  outline: 1px solid black;
  flex-grow: 1;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  justify-content: space-evenly;
}

.card > form {
  display: flex;
  flex-direction: column;
  height: 74%;
  justify-content: space-evenly;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1%;
}

.form-item {
  font-family: "Raleway", sans-serif;
  padding: 1%;
  margin-bottom: 2rem;
  height: 10%;
  width: 16rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.form-submit {
  font-family: "Raleway", sans-serif;
  height: 20%;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
}

.form-submit:hover {
  opacity: 0.6;
}

button:focus {
  outline: none;
}

.logout-button {
  background-color: inherit;
  border: 1px solid black;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  height: 6%;
  width: 30%;
}

.menu-bar, .main-feed {
  background-color: #41b3a3;
  align-items: center;
  list-style: none;
  margin: 0%;
}

.representatives, .about-feed, .polls-feed, .docket-feed, .news-feed, .main-feed {
  width: 80%;
  height: 100%;
  outline: 1px solid black;
  outline-offset: -1px;
}

.profile-box, .docket-box, .news-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  width: 30%;
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
  box-sizing: border-box;
  flex-grow: 1;
}
.profile-box h5, .docket-box h5, .news-box h5 {
  font-size: 3vh;
  margin: 0% 1% 0%;
}

.polls-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
}
.polls-box h5 {
  margin-top: 0%;
}

html {
  height: 100%;
}

.box-header {
  position: absolute;
  z-index: 2;
  background: #41b3a3;
  width: 25%;
}

.main-feed {
  display: flex;
  flex-direction: column;
}
.main-feedtable {
  margin: 0%;
}
.main-feedspan {
  width: 100%;
}
.main-feedsection {
  width: 100%;
}
.main-feed .main-feed-row-top {
  display: flex;
  justify-content: space-between;
}

#main-feed-first-row {
  display: flex;
  height: 100%;
}

.row {
  height: calc(600px / 2);
}

#main-feed-first-row-box {
  padding: 0%;
}

.main-feed .eight .columns .row .eight .columns .docket-box h2 {
  font-size: 20px;
}

.main-feed {
  overflow: scroll;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  justify-content: space-evenly;
}

.card > form {
  display: flex;
  flex-direction: column;
  height: 74%;
  justify-content: space-evenly;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1%;
}

.form-item {
  font-family: "Raleway", sans-serif;
  padding: 1%;
  margin-bottom: 2rem;
  height: 10%;
  width: 16rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.form-submit {
  font-family: "Raleway", sans-serif;
  height: 20%;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
}

.form-submit:hover {
  opacity: 0.6;
}

button:focus {
  outline: none;
}

.logout-button {
  background-color: inherit;
  border: 1px solid black;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  height: 6%;
  width: 30%;
}

.menu-bar, .main-feed {
  background-color: #41b3a3;
  align-items: center;
  list-style: none;
  margin: 0%;
}

.representatives, .about-feed, .polls-feed, .docket-feed, .news-feed, .main-feed {
  width: 80%;
  height: 100%;
  outline: 1px solid black;
  outline-offset: -1px;
}

.profile-box, .docket-box, .news-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  width: 30%;
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
  box-sizing: border-box;
  flex-grow: 1;
}
.profile-box h5, .docket-box h5, .news-box h5 {
  font-size: 3vh;
  margin: 0% 1% 0%;
}

.polls-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
}
.polls-box h5 {
  margin-top: 0%;
}

html {
  height: 100%;
}

.box-header {
  position: absolute;
  z-index: 2;
  background: #41b3a3;
  width: 25%;
}

.main-feed-item {
  border: 2px solid #e27d60;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  justify-content: space-evenly;
}

.card > form {
  display: flex;
  flex-direction: column;
  height: 74%;
  justify-content: space-evenly;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1%;
}

.form-item {
  font-family: "Raleway", sans-serif;
  padding: 1%;
  margin-bottom: 2rem;
  height: 10%;
  width: 16rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.form-submit {
  font-family: "Raleway", sans-serif;
  height: 20%;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
}

.form-submit:hover {
  opacity: 0.6;
}

button:focus {
  outline: none;
}

.logout-button {
  background-color: inherit;
  border: 1px solid black;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  height: 6%;
  width: 30%;
}

.menu-bar, .main-feed {
  background-color: #41b3a3;
  align-items: center;
  list-style: none;
  margin: 0%;
}

.representatives, .about-feed, .polls-feed, .docket-feed, .news-feed, .main-feed {
  width: 80%;
  height: 100%;
  outline: 1px solid black;
  outline-offset: -1px;
}

.profile-box, .docket-box, .news-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  width: 30%;
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
  box-sizing: border-box;
  flex-grow: 1;
}
.profile-box h5, .docket-box h5, .news-box h5 {
  font-size: 3vh;
  margin: 0% 1% 0%;
}

.polls-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
}
.polls-box h5 {
  margin-top: 0%;
}

html {
  height: 100%;
}

.box-header {
  position: absolute;
  z-index: 2;
  background: #41b3a3;
  width: 25%;
}

.menu-bar {
  width: 20%;
  height: 100%;
  padding: 0%;
  margin: 0%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  outline: 1px solid black;
  outline-offset: -1px;
}

.link {
  width: 100%;
  padding: 0%;
  margin: 0%;
  height: 6%;
}

.menu-bar-item {
  border: 2px solid #e27d60;
  border-collapse: collapse;
  padding: 4%;
  text-align: center;
  height: 5%;
  background-color: #85dcbb;
  width: 80%;
}
.menu-bar-item:hover {
  background-color: #e8a87c;
}
.menu-bar-item a {
  color: black;
  text-decoration: none;
  display: block;
  font-family: "Times New Roman", Times, serif;
}
.menu-bar-item a:visited {
  color: black;
}
.menu-bar-item a:hover {
  color: black;
  text-decoration: none;
  text-decoration-color: black;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  justify-content: space-evenly;
}

.card > form {
  display: flex;
  flex-direction: column;
  height: 74%;
  justify-content: space-evenly;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1%;
}

.form-item {
  font-family: "Raleway", sans-serif;
  padding: 1%;
  margin-bottom: 2rem;
  height: 10%;
  width: 16rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.form-submit {
  font-family: "Raleway", sans-serif;
  height: 20%;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
}

.form-submit:hover {
  opacity: 0.6;
}

button:focus {
  outline: none;
}

.logout-button {
  background-color: inherit;
  border: 1px solid black;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  height: 6%;
  width: 30%;
}

.main-feed, .menu-bar {
  background-color: #41b3a3;
  align-items: center;
  list-style: none;
  margin: 0%;
}

.representatives, .about-feed, .polls-feed, .docket-feed, .news-feed, .main-feed {
  width: 80%;
  height: 100%;
  outline: 1px solid black;
  outline-offset: -1px;
}

.profile-box, .docket-box, .news-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  width: 30%;
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
  box-sizing: border-box;
  flex-grow: 1;
}
.profile-box h5, .docket-box h5, .news-box h5 {
  font-size: 3vh;
  margin: 0% 1% 0%;
}

.polls-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
}
.polls-box h5 {
  margin-top: 0%;
}

html {
  height: 100%;
}

.box-header {
  position: absolute;
  z-index: 2;
  background: #41b3a3;
  width: 25%;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  justify-content: space-evenly;
}

.card > form {
  display: flex;
  flex-direction: column;
  height: 74%;
  justify-content: space-evenly;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1%;
}

.form-item {
  font-family: "Raleway", sans-serif;
  padding: 1%;
  margin-bottom: 2rem;
  height: 10%;
  width: 16rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.form-submit {
  font-family: "Raleway", sans-serif;
  height: 20%;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
}

.form-submit:hover {
  opacity: 0.6;
}

button:focus {
  outline: none;
}

.logout-button {
  background-color: inherit;
  border: 1px solid black;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  height: 6%;
  width: 30%;
}

.main-feed, .menu-bar {
  background-color: #41b3a3;
  align-items: center;
  list-style: none;
  margin: 0%;
}

.representatives, .about-feed, .polls-feed, .docket-feed, .news-feed, .main-feed {
  width: 80%;
  height: 100%;
  outline: 1px solid black;
  outline-offset: -1px;
}

.profile-box, .docket-box, .news-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  width: 30%;
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
  box-sizing: border-box;
  flex-grow: 1;
}
.profile-box h5, .docket-box h5, .news-box h5 {
  font-size: 3vh;
  margin: 0% 1% 0%;
}

.polls-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
}
.polls-box h5 {
  margin-top: 0%;
}

html {
  height: 100%;
}

.box-header {
  position: absolute;
  z-index: 2;
  background: #41b3a3;
  width: 25%;
}

.header-bar {
  background-color: #41b3a3;
  height: 7vh;
  border-bottom: 2px solid #e27d60;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-bar a {
  font-family: cursive;
  margin-left: 2%;
  text-align: left;
  text-align: justify;
  color: black;
  text-decoration: none;
  display: block;
}
.header-bar a:visited {
  color: black;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  justify-content: space-evenly;
}

.card > form {
  display: flex;
  flex-direction: column;
  height: 74%;
  justify-content: space-evenly;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1%;
}

.form-item {
  font-family: "Raleway", sans-serif;
  padding: 1%;
  margin-bottom: 2rem;
  height: 10%;
  width: 16rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.form-submit {
  font-family: "Raleway", sans-serif;
  height: 20%;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
}

.form-submit:hover {
  opacity: 0.6;
}

button:focus {
  outline: none;
}

.logout-button {
  background-color: inherit;
  border: 1px solid black;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  height: 6%;
  width: 30%;
}

.main-feed, .menu-bar {
  background-color: #41b3a3;
  align-items: center;
  list-style: none;
  margin: 0%;
}

.representatives, .about-feed, .polls-feed, .docket-feed, .news-feed, .main-feed {
  width: 80%;
  height: 100%;
  outline: 1px solid black;
  outline-offset: -1px;
}

.profile-box, .docket-box, .news-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  width: 30%;
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
  box-sizing: border-box;
  flex-grow: 1;
}
.profile-box h5, .docket-box h5, .news-box h5 {
  font-size: 3vh;
  margin: 0% 1% 0%;
}

.polls-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
}
.polls-box h5 {
  margin-top: 0%;
}

html {
  height: 100%;
}

.box-header {
  position: absolute;
  z-index: 2;
  background: #41b3a3;
  width: 25%;
}

.news-feed {
  overflow: auto;
  margin-top: 0%;
  border: 2px solid #e27d60;
  border-collapse: collapse;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  justify-content: space-evenly;
}

.card > form {
  display: flex;
  flex-direction: column;
  height: 74%;
  justify-content: space-evenly;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1%;
}

.form-item {
  font-family: "Raleway", sans-serif;
  padding: 1%;
  margin-bottom: 2rem;
  height: 10%;
  width: 16rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.form-submit {
  font-family: "Raleway", sans-serif;
  height: 20%;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
}

.form-submit:hover {
  opacity: 0.6;
}

button:focus {
  outline: none;
}

.logout-button {
  background-color: inherit;
  border: 1px solid black;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  height: 6%;
  width: 30%;
}

.main-feed, .menu-bar {
  background-color: #41b3a3;
  align-items: center;
  list-style: none;
  margin: 0%;
}

.representatives, .about-feed, .polls-feed, .docket-feed, .main-feed, .news-feed {
  width: 80%;
  height: 100%;
  outline: 1px solid black;
  outline-offset: -1px;
}

.profile-box, .docket-box, .news-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  width: 30%;
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
  box-sizing: border-box;
  flex-grow: 1;
}
.profile-box h5, .docket-box h5, .news-box h5 {
  font-size: 3vh;
  margin: 0% 1% 0%;
}

.polls-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
}
.polls-box h5 {
  margin-top: 0%;
}

html {
  height: 100%;
}

.box-header {
  position: absolute;
  z-index: 2;
  background: #41b3a3;
  width: 25%;
}

.docket-feed {
  display: flex;
  justify-content: space-between;
  margin-top: 0%;
}

.docket-feed-list {
  display: flex;
  flex-direction: column;
  width: 50%;
  overflow: auto;
  border: 1px solid black;
}

.big-docket-feed {
  width: calc($feed-width + $subfeed-width);
  width: 906px;
  height: 100%;
  padding: 0%;
  margin: 0%;
  border: 0px;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  justify-content: space-evenly;
}

.card > form {
  display: flex;
  flex-direction: column;
  height: 74%;
  justify-content: space-evenly;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1%;
}

.form-item {
  font-family: "Raleway", sans-serif;
  padding: 1%;
  margin-bottom: 2rem;
  height: 10%;
  width: 16rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.form-submit {
  font-family: "Raleway", sans-serif;
  height: 20%;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
}

.form-submit:hover {
  opacity: 0.6;
}

button:focus {
  outline: none;
}

.logout-button {
  background-color: inherit;
  border: 1px solid black;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  height: 6%;
  width: 30%;
}

.main-feed, .menu-bar {
  background-color: #41b3a3;
  align-items: center;
  list-style: none;
  margin: 0%;
}

.representatives, .about-feed, .polls-feed, .main-feed, .news-feed, .docket-feed {
  width: 80%;
  height: 100%;
  outline: 1px solid black;
  outline-offset: -1px;
}

.profile-box, .docket-box, .news-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  width: 30%;
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
  box-sizing: border-box;
  flex-grow: 1;
}
.profile-box h5, .docket-box h5, .news-box h5 {
  font-size: 3vh;
  margin: 0% 1% 0%;
}

.polls-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
}
.polls-box h5 {
  margin-top: 0%;
}

html {
  height: 100%;
}

.box-header {
  position: absolute;
  z-index: 2;
  background: #41b3a3;
  width: 25%;
}

.polls-feed {
  overflow: scroll;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: none;
  grid-auto-rows: minmax(40%, 1fr);
  width: 80%;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  justify-content: space-evenly;
}

.card > form {
  display: flex;
  flex-direction: column;
  height: 74%;
  justify-content: space-evenly;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1%;
}

.form-item {
  font-family: "Raleway", sans-serif;
  padding: 1%;
  margin-bottom: 2rem;
  height: 10%;
  width: 16rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.form-submit {
  font-family: "Raleway", sans-serif;
  height: 20%;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
}

.form-submit:hover {
  opacity: 0.6;
}

button:focus {
  outline: none;
}

.logout-button {
  background-color: inherit;
  border: 1px solid black;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  height: 6%;
  width: 30%;
}

.main-feed, .menu-bar {
  background-color: #41b3a3;
  align-items: center;
  list-style: none;
  margin: 0%;
}

.representatives, .about-feed, .main-feed, .news-feed, .docket-feed, .polls-feed {
  width: 80%;
  height: 100%;
  outline: 1px solid black;
  outline-offset: -1px;
}

.profile-box, .docket-box, .news-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  width: 30%;
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
  box-sizing: border-box;
  flex-grow: 1;
}
.profile-box h5, .docket-box h5, .news-box h5 {
  font-size: 3vh;
  margin: 0% 1% 0%;
}

.polls-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
}
.polls-box h5 {
  margin-top: 0%;
}

html {
  height: 100%;
}

.box-header {
  position: absolute;
  z-index: 2;
  background: #41b3a3;
  width: 25%;
}

.about-feed {
  overflow: auto;
  margin-top: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.about-feed p {
  text-align: center;
  vertical-align: middle;
}
.about-feed div {
  margin: 1vh;
  padding: 1vh;
  border: 1px solid black;
}

.about-our-data {
  overflow: scroll;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  justify-content: space-evenly;
}

.card > form {
  display: flex;
  flex-direction: column;
  height: 74%;
  justify-content: space-evenly;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1%;
}

.form-item {
  font-family: "Raleway", sans-serif;
  padding: 1%;
  margin-bottom: 2rem;
  height: 10%;
  width: 16rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.form-submit {
  font-family: "Raleway", sans-serif;
  height: 20%;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
}

.form-submit:hover {
  opacity: 0.6;
}

button:focus {
  outline: none;
}

.logout-button {
  background-color: inherit;
  border: 1px solid black;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  height: 6%;
  width: 30%;
}

.main-feed, .menu-bar {
  background-color: #41b3a3;
  align-items: center;
  list-style: none;
  margin: 0%;
}

.representatives, .main-feed, .news-feed, .docket-feed, .polls-feed, .about-feed {
  width: 80%;
  height: 100%;
  outline: 1px solid black;
  outline-offset: -1px;
}

.profile-box, .docket-box, .news-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  width: 30%;
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
  box-sizing: border-box;
  flex-grow: 1;
}
.profile-box h5, .docket-box h5, .news-box h5 {
  font-size: 3vh;
  margin: 0% 1% 0%;
}

.polls-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
}
.polls-box h5 {
  margin-top: 0%;
}

html {
  height: 100%;
}

.box-header {
  position: absolute;
  z-index: 2;
  background: #41b3a3;
  width: 25%;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  justify-content: space-evenly;
}

.card > form {
  display: flex;
  flex-direction: column;
  height: 74%;
  justify-content: space-evenly;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1%;
}

.form-item {
  font-family: "Raleway", sans-serif;
  padding: 1%;
  margin-bottom: 2rem;
  height: 10%;
  width: 16rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.form-submit {
  font-family: "Raleway", sans-serif;
  height: 20%;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
}

.form-submit:hover {
  opacity: 0.6;
}

button:focus {
  outline: none;
}

.logout-button {
  background-color: inherit;
  border: 1px solid black;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  height: 6%;
  width: 30%;
}

.main-feed, .menu-bar {
  background-color: #41b3a3;
  align-items: center;
  list-style: none;
  margin: 0%;
}

.representatives, .main-feed, .news-feed, .docket-feed, .polls-feed, .about-feed {
  width: 80%;
  height: 100%;
  outline: 1px solid black;
  outline-offset: -1px;
}

.profile-box, .docket-box, .news-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  width: 30%;
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
  box-sizing: border-box;
  flex-grow: 1;
}
.profile-box h5, .docket-box h5, .news-box h5 {
  font-size: 3vh;
  margin: 0% 1% 0%;
}

.polls-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
}
.polls-box h5 {
  margin-top: 0%;
}

html {
  height: 100%;
}

.box-header {
  position: absolute;
  z-index: 2;
  background: #41b3a3;
  width: 25%;
}

.docket-box th {
  position: absolute;
  margin-top: -2%;
  visibility: hidden;
  border-collapse: collapse;
  z-index: 200;
  height: 3px;
}
.docket-box h2 {
  font-size: 20px;
  border: 2px solid #e27d60;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  justify-content: space-evenly;
}

.card > form {
  display: flex;
  flex-direction: column;
  height: 74%;
  justify-content: space-evenly;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1%;
}

.form-item {
  font-family: "Raleway", sans-serif;
  padding: 1%;
  margin-bottom: 2rem;
  height: 10%;
  width: 16rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.form-submit {
  font-family: "Raleway", sans-serif;
  height: 20%;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
}

.form-submit:hover {
  opacity: 0.6;
}

button:focus {
  outline: none;
}

.logout-button {
  background-color: inherit;
  border: 1px solid black;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  height: 6%;
  width: 30%;
}

.main-feed, .menu-bar {
  background-color: #41b3a3;
  align-items: center;
  list-style: none;
  margin: 0%;
}

.representatives, .main-feed, .news-feed, .docket-feed, .polls-feed, .about-feed {
  width: 80%;
  height: 100%;
  outline: 1px solid black;
  outline-offset: -1px;
}

.profile-box, .news-box, .docket-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  width: 30%;
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
  box-sizing: border-box;
  flex-grow: 1;
}
.profile-box h5, .news-box h5, .docket-box h5 {
  font-size: 3vh;
  margin: 0% 1% 0%;
}

.polls-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
}
.polls-box h5 {
  margin-top: 0%;
}

html {
  height: 100%;
}

.box-header {
  position: absolute;
  z-index: 2;
  background: #41b3a3;
  width: 25%;
}

.bill {
  display: flex;
  flex-direction: column;
  border: 2px solid #e27d60;
  margin-left: -2px;
  width: 50%;
  align-items: center;
  flex-flow: column;
  height: 100%;
}
.bill h3 {
  font-size: 14px;
  margin: 1%;
}
.bill h6 {
  font-size: 10px;
  margin: 0% 1vw 0%;
}
.bill p {
  white-space: pre-line;
}
.bill .top {
  max-height: 40%;
  min-height: 24%;
  overflow: scroll;
}
.bill .bottom {
  min-height: 0%;
  max-height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}
.bill .bottom #poll-individual {
  display: inline-block;
  width: 65%;
  border: 2px solid #e27d60;
  border-radius: 4px;
  margin: 1%;
}

.bill-button-row {
  display: flex;
  flex-direction: row;
}

#dialogue2 {
  white-space: pre-wrap;
}

.full-text-button {
  width: 20%;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 1%;
}

.login {
  font-family: "Raleway", sans-serif;
  position: absolute;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.login .left {
  padding: 2%;
  width: 80%;
  height: 80vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 60% 30%;
  grid-gap: 3% 4%;
  grid-template-areas: "top1 top2" "middle1 middle2" "bottom1 bottom2";
}
.login .left h5 {
  margin: 0%;
  font-size: 1.5vh;
}
.login .left .img1 {
  grid-area: top1;
  justify-self: center;
}
.login .left .img2 {
  grid-area: middle1;
  justify-self: center;
}
.login .left .img3 {
  grid-area: bottom1;
  justify-self: center;
}
.login .left img {
  margin: 0%;
  width: 100%;
  height: auto;
}
.login .left p {
  font-size: 3vh;
  text-align: center;
  align-self: center;
  margin: 0%;
}
.login .left .p1 {
  grid-area: top2;
}
.login .left .p2 {
  grid-area: middle2;
}
.login .left .p3 {
  grid-area: bottom2;
}
.login .right {
  height: 100%;
  width: 25%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.gender-selection {
  width: 70%;
}

.additional-info-card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
}
.additional-info-card h1 {
  margin: 0%;
}
.additional-info-card #additional-info-form {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.additional-info-card #additional-info-form .form-submit {
  margin-top: 10%;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  justify-content: space-evenly;
}

.card > form {
  display: flex;
  flex-direction: column;
  height: 74%;
  justify-content: space-evenly;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1%;
}

.form-item {
  font-family: "Raleway", sans-serif;
  padding: 1%;
  margin-bottom: 2rem;
  height: 10%;
  width: 16rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.form-submit {
  font-family: "Raleway", sans-serif;
  height: 20%;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
}

.form-submit:hover {
  opacity: 0.6;
}

button:focus {
  outline: none;
}

.logout-button {
  background-color: inherit;
  border: 1px solid black;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  height: 6%;
  width: 30%;
}

.main-feed, .menu-bar {
  background-color: #41b3a3;
  align-items: center;
  list-style: none;
  margin: 0%;
}

.representatives, .main-feed, .news-feed, .docket-feed, .polls-feed, .about-feed {
  width: 80%;
  height: 100%;
  outline: 1px solid black;
  outline-offset: -1px;
}

.profile-box, .news-box, .docket-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  width: 30%;
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
  box-sizing: border-box;
  flex-grow: 1;
}
.profile-box h5, .news-box h5, .docket-box h5 {
  font-size: 3vh;
  margin: 0% 1% 0%;
}

.polls-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
}
.polls-box h5 {
  margin-top: 0%;
}

html {
  height: 100%;
}

.box-header {
  position: absolute;
  z-index: 2;
  background: #41b3a3;
  width: 25%;
}

.profile-box {
  padding: 0%;
}
.profile-box h6 {
  margin: 1%;
  font-size: 1.5vh;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  justify-content: space-evenly;
}

.card > form {
  display: flex;
  flex-direction: column;
  height: 74%;
  justify-content: space-evenly;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1%;
}

.form-item {
  font-family: "Raleway", sans-serif;
  padding: 1%;
  margin-bottom: 2rem;
  height: 10%;
  width: 16rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.form-submit {
  font-family: "Raleway", sans-serif;
  height: 20%;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
}

.form-submit:hover {
  opacity: 0.6;
}

button:focus {
  outline: none;
}

.logout-button {
  background-color: inherit;
  border: 1px solid black;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  height: 6%;
  width: 30%;
}

.main-feed, .menu-bar {
  background-color: #41b3a3;
  align-items: center;
  list-style: none;
  margin: 0%;
}

.representatives, .main-feed, .news-feed, .docket-feed, .polls-feed, .about-feed {
  width: 80%;
  height: 100%;
  outline: 1px solid black;
  outline-offset: -1px;
}

.news-box, .docket-box, .profile-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  width: 30%;
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
  box-sizing: border-box;
  flex-grow: 1;
}
.news-box h5, .docket-box h5, .profile-box h5 {
  font-size: 3vh;
  margin: 0% 1% 0%;
}

.polls-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
}
.polls-box h5 {
  margin-top: 0%;
}

html {
  height: 100%;
}

.box-header {
  position: absolute;
  z-index: 2;
  background: #41b3a3;
  width: 25%;
}

.polls-box {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.polls-box h5 {
  margin: 0%;
  padding: 0%;
}
.polls-box #poll-individual {
  width: 40%;
  border: 2px solid #e27d60;
  border-radius: 4px;
  margin: 1%;
}

.no-suggestions {
  color: #999;
  padding: 0.5rem;
}

.suggestions {
  border: 1px solid #41b3a3;
  list-style: none;
  margin-top: 0;
  max-height: 200px;
  overflow-y: scroll;
  padding-left: 0;
  width: calc(300px + 1rem);
  position: absolute;
  z-index: 2;
  margin-top: 2.8%;
  opacity: 100%;
  background-color: aliceblue;
}

.suggestions li {
  padding: 0.5rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: #85dcbb;
  color: #c38d9e;
  cursor: pointer;
  font-weight: 700;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid #41b3a3;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  justify-content: space-evenly;
}

.card > form {
  display: flex;
  flex-direction: column;
  height: 74%;
  justify-content: space-evenly;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1%;
}

.form-item {
  font-family: "Raleway", sans-serif;
  padding: 1%;
  margin-bottom: 2rem;
  height: 10%;
  width: 16rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.form-submit {
  font-family: "Raleway", sans-serif;
  height: 20%;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
}

.form-submit:hover {
  opacity: 0.6;
}

button:focus {
  outline: none;
}

.logout-button {
  background-color: inherit;
  border: 1px solid black;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  height: 6%;
  width: 30%;
}

.main-feed, .menu-bar {
  background-color: #41b3a3;
  align-items: center;
  list-style: none;
  margin: 0%;
}

.representatives, .main-feed, .news-feed, .docket-feed, .polls-feed, .about-feed {
  width: 80%;
  height: 100%;
  outline: 1px solid black;
  outline-offset: -1px;
}

.news-box, .docket-box, .profile-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  width: 30%;
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
  box-sizing: border-box;
  flex-grow: 1;
}
.news-box h5, .docket-box h5, .profile-box h5 {
  font-size: 3vh;
  margin: 0% 1% 0%;
}

.polls-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
}
.polls-box h5 {
  margin-top: 0%;
}

html {
  height: 100%;
}

.box-header {
  position: absolute;
  z-index: 2;
  background: #41b3a3;
  width: 25%;
}

.representatives {
  display: flex;
  overflow: auto;
  margin-top: 0%;
}
.representatives .left {
  width: 30%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  margin-top: 0%;
  margin: 1vh;
}
.representatives .left .bottom {
  height: 35%;
  display: flex;
  flex-direction: column;
}
.representatives .left .autocomplete {
  display: flex;
  justify-self: flex-end;
}
.representatives .middle {
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  margin-top: 0%;
  overflow: scroll;
}
.representatives .right {
  width: 35%;
  overflow: scroll;
}
.representatives .right .single-rep-recent-votes {
  width: 100%;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  justify-content: space-evenly;
}

.card > form {
  display: flex;
  flex-direction: column;
  height: 74%;
  justify-content: space-evenly;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1%;
}

.form-item {
  font-family: "Raleway", sans-serif;
  padding: 1%;
  margin-bottom: 2rem;
  height: 10%;
  width: 16rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.form-submit {
  font-family: "Raleway", sans-serif;
  height: 20%;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
}

.form-submit:hover {
  opacity: 0.6;
}

button:focus {
  outline: none;
}

.logout-button {
  background-color: inherit;
  border: 1px solid black;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  height: 6%;
  width: 30%;
}

.main-feed, .menu-bar {
  background-color: #41b3a3;
  align-items: center;
  list-style: none;
  margin: 0%;
}

.main-feed, .news-feed, .docket-feed, .polls-feed, .about-feed, .representatives {
  width: 80%;
  height: 100%;
  outline: 1px solid black;
  outline-offset: -1px;
}

.news-box, .docket-box, .profile-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  width: 30%;
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
  box-sizing: border-box;
  flex-grow: 1;
}
.news-box h5, .docket-box h5, .profile-box h5 {
  font-size: 3vh;
  margin: 0% 1% 0%;
}

.polls-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
}
.polls-box h5 {
  margin-top: 0%;
}

html {
  height: 100%;
}

.box-header {
  position: absolute;
  z-index: 2;
  background: #41b3a3;
  width: 25%;
}

.single-rep-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0%;
  width: 100%;
  height: 100%;
}
.single-rep-box p {
  font-size: 1.5vh;
  margin: 0%;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  justify-content: space-evenly;
}

.card > form {
  display: flex;
  flex-direction: column;
  height: 74%;
  justify-content: space-evenly;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1%;
}

.form-item {
  font-family: "Raleway", sans-serif;
  padding: 1%;
  margin-bottom: 2rem;
  height: 10%;
  width: 16rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.form-submit {
  font-family: "Raleway", sans-serif;
  height: 20%;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
}

.form-submit:hover {
  opacity: 0.6;
}

button:focus {
  outline: none;
}

.logout-button {
  background-color: inherit;
  border: 1px solid black;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  height: 6%;
  width: 30%;
}

.main-feed, .menu-bar {
  background-color: #41b3a3;
  align-items: center;
  list-style: none;
  margin: 0%;
}

.main-feed, .news-feed, .docket-feed, .polls-feed, .about-feed, .representatives {
  width: 80%;
  height: 100%;
  outline: 1px solid black;
  outline-offset: -1px;
}

.news-box, .docket-box, .profile-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  width: 30%;
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
  box-sizing: border-box;
  flex-grow: 1;
}
.news-box h5, .docket-box h5, .profile-box h5 {
  font-size: 3vh;
  margin: 0% 1% 0%;
}

.polls-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
}
.polls-box h5 {
  margin-top: 0%;
}

html {
  height: 100%;
}

.box-header {
  position: absolute;
  z-index: 2;
  background: #41b3a3;
  width: 25%;
}

.polls-row {
  overflow: scroll;
  display: flex;
  align-items: center;
  height: 86%;
}

.polls-row-box {
  display: block;
  align-items: flex-start;
  height: 100%;
}
.polls-row-box h1, .polls-row-box h2, .polls-row-box h3, .polls-row-box h4, .polls-row-box h5 {
  font-size: 1vw;
  margin-left: 1%;
  margin-bottom: 0%;
  margin-top: 0.5%;
  padding: 0%;
  height: 8%;
}

.poll-individual {
  width: 28%;
  height: 94%;
  outline: 1px solid #e27d60;
  outline-offset: -1vh;
  margin-left: 1%;
  flex-shrink: 0;
  display: flex;
}

::-webkit-scrollbar {
  display: none;
}

.card {
  background-color: #fff;
  border-radius: 15px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40%;
  justify-content: space-evenly;
}

.card > form {
  display: flex;
  flex-direction: column;
  height: 74%;
  justify-content: space-evenly;
}

.card h1 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1%;
}

.form-item {
  font-family: "Raleway", sans-serif;
  padding: 1%;
  margin-bottom: 2rem;
  height: 10%;
  width: 16rem;
  border: 1px solid grey;
  border-radius: 5px;
}

.form-submit {
  font-family: "Raleway", sans-serif;
  height: 20%;
  color: #fff;
  background-color: #1abc9c;
  border: none;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
}

.form-submit:hover {
  opacity: 0.6;
}

button:focus {
  outline: none;
}

.logout-button {
  background-color: inherit;
  border: 1px solid black;
  letter-spacing: 0.2rem;
  transition: 0.3s opacity ease;
  cursor: pointer;
  border-radius: 5px;
  color: black;
  height: 6%;
  width: 30%;
}

.main-feed, .menu-bar {
  background-color: #41b3a3;
  align-items: center;
  list-style: none;
  margin: 0%;
}

.main-feed, .news-feed, .docket-feed, .polls-feed, .about-feed, .representatives {
  width: 80%;
  height: 100%;
  outline: 1px solid black;
  outline-offset: -1px;
}

.news-box, .docket-box, .profile-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  width: 30%;
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
  box-sizing: border-box;
  flex-grow: 1;
}
.news-box h5, .docket-box h5, .profile-box h5 {
  font-size: 3vh;
  margin: 0% 1% 0%;
}

.polls-box {
  overflow: scroll;
  height: calc(calc(600px / 2) - 2vh);
  outline: 1px solid black;
  outline-offset: -1px;
  margin: 1%;
}
.polls-box h5 {
  margin-top: 0%;
}

html {
  height: 100%;
}

.box-header {
  position: absolute;
  z-index: 2;
  background: #41b3a3;
  width: 25%;
}

.simple-menu-profile-box {
  width: 100%;
  display: block;
}

#simple-menu-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#simple-menu-1 h6 {
  font-size: 1.5vh;
}

.your-reps-box h6 {
  font-size: 1.5vh;
}

.comment-box {
  min-height: 0%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 100%;
  overflow: scroll;
}
.comment-box form {
  margin: 1%;
  padding: 0%;
  display: flex;
  justify-content: space-between;
}
.comment-box form .form-item {
  padding: 0%;
  margin: 0%;
  display: flex;
  flex-grow: 1;
}
.comment-box form .form-submit {
  align-self: flex-end;
  display: flex;
  flex-shrink: 0;
}

.comment-list {
  overflow: scroll;
  margin: 1%;
}

.comment-form {
  display: flex;
  flex-direction: row;
  height: 20%;
}

.form-item-comment {
  width: 100%;
  padding: 1%;
  border: 1px solid black;
}

.form-submit-comment {
  width: 20%;
  padding: 0;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  margin-left: 1%;
  justify-content: center;
}

/*# sourceMappingURL=main.css.map */
